        <nav class="page__content__nav">
          <div class="top">
            <a href="#top"><button title="Page top" type="button" data-toggle="tooltip" class="btn btn-light"><i class="fas fa-arrow-up"></i></button></a>
          </div>
        </nav>
      </article>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <section class="links">
            <h6><i class="fas fa-info-circle"></i> About</h6>
            <ul>
              <li><a href="{{ httpd_autoindex_siteurl }}/about">About CentOS</a></li>
              <li><a href="https://wiki.centos.org/FAQ">Frequently Asked Questions (FAQs)</a></li>
              <li><a href="https://wiki.centos.org/SpecialInterestGroups">Special Interest Groups (SIGs)</a></li>
              <li><a href="{{ httpd_autoindex_siteurl }}/variants">CentOS Variants</a></li>
              <li><a href="{{ httpd_autoindex_siteurl }}/about/governance">Governance</a></li>
              <li><a href="{{ httpd_autoindex_siteurl }}/code-of-conduct">Code of Conduct</a></li>
            </ul>
          </section>
          <section class="links">
            <h6><i class="fas fa-users"></i> Community</h6>
            <ul>
              <li><a href="https://wiki.centos.org/Contribute">Contribute</a></li>
              <li><a href="https://www.centos.org/forums/">Forums</a></li>
              <li><a href="https://wiki.centos.org/GettingHelp/ListInfo">Mailing Lists</a></li>
              <li><a href="https://wiki.centos.org/irc">IRC</a></li>
              <li><a href="{{ httpd_autoindex_siteurl }}/community/calendar/">Calendar &amp; IRC Meeting List</a></li>
              <li><a href="http://planet.centos.org/">Planet</a></li>
              <li><a href="https://wiki.centos.org/ReportBugs">Submit Bug</a></li>
            </ul>
          </section>
          <section class="project">
            <h4>The CentOS Project</h4>
            <p class="lead">Community-driven free software effort focused around the goal of providing a rich base platform for open source communities to build upon.</p>
            <div class="lead social">
              <a href="https://www.facebook.com/groups/centosproject/"><i class="fab fa-facebook-f"></i></a>
              <a href="https://twitter.com/centosproject"><i class="fab fa-twitter"></i></a>
              <a href="https://youtube.com/TheCentOSProject"><i class="fab fa-youtube"></i></a>
              <a href="https://www.linkedin.com/groups/22405"><i class="fab fa-linkedin"></i></a>
              <a href="https://www.reddit.com/r/CentOS/"><i class="fab fa-reddit"></i></a>
            </div>
          </section>
        </div>
        <div class="row">
          <section class="copyright">
            <p>Copyright &copy; 2021 The CentOS Project  | <a href="{{ httpd_autoindex_siteurl }}/legal">Legal</a> | <a href="{{ httpd_autoindex_siteurl }}/privacy">Privacy</a> | <a href="https://git.centos.org/centos/centos.org">Site source</a></p>
          </section>
        </div>
      </div>
    </footer>
    <script src="{{ httpd_autoindex_siteurl }}/assets/js/jquery.min.js"></script>
    <script src="{{ httpd_autoindex_siteurl }}/assets/js/bootstrap.min.js"></script>
  </body>
</html>
