 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CentOS People</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ httpd_autoindex_siteurl }}/assets/img/favicon.png">
    <link rel="stylesheet" href="{{ httpd_autoindex_siteurl }}/assets/css/centos-httpd.bootstrap.min.css">
  </head>
  <body>
    {% include "autoindex/header-centos-navbar.html.j2" %}
    <header class="header header__page">
      <h1 class="header__page__title">People</h1>
      <p class="header__page__description">This is an area where the CentOS
      Developers and allowed contributors can make test files and other things
      available that are not yet part of CentOS.  Some items here will make it
      into CentOS, CentOS Extras and/or CentOS Plus ... while other things may
      not.</p>
    </header>
    <main class="page">
      <article class="page__content">
        <div class="page__content__nav">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ httpd_autoindex_siteurl }}">Home</a></li>
            <li class="breadcrumb-item">People</li>
          </ol>
        </div>
        <div class="page__content__autoindex">
          
        <div class="alert alert-danger" role="alert">
          <strong><i class="fas fa-exclamation-triangle"></i> Caution:</strong> Use anything here at your own risk!!!!
        </div>

        <p>The following users currently have areas on people.centos.org (sorted by First name):</p>

        <ul class="page__content__autoindex__list">
{% for i in httpd_autoindex_pages %}
{% if i.template == "centos-people" %}
          <li><a href="/{{ i.title }}">{{ i.title_lead }} ({{ i.title }})</a></li>
{% endif %}
{% endfor %}
        </ul>

{% include "autoindex/footer.html.j2" %}
