<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="{{ httpd_autoindex_siteurl }}/"><img src="{{ httpd_autoindex_siteurl }}/assets/img/logo.png" height="32" alt="The CentOS Project"> <span class="manifestation"></span></a>
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation"><a class="nav-link" href="{{ httpd_autoindex_siteurl }}/download"><i class="fas fa-download"></i> Download</a></li>
        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-info-circle"></i> About</a>
          <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="{{ httpd_autoindex_siteurl }}/about">About CentOS</a>
            <a class="dropdown-item" role="presentation" href="https://wiki.centos.org/FAQ">Frequently Asked Questions (FAQs)</a>
            <a class="dropdown-item" role="presentation" href="https://wiki.centos.org/SpecialInterestGroups">Special Interest Groups (SIGs)</a>
            <a class="dropdown-item" role="presentation" href="{{ httpd_autoindex_siteurl }}/variants">CentOS Variants</a>
            <a class="dropdown-item" role="presentation" href="{{ httpd_autoindex_siteurl }}/about/governance">Governance</a>
          </div>
        </li>
        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-users"></i> Community</a>
          <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="https://wiki.centos.org/Contribute">Contribute</a>
            <a class="dropdown-item" role="presentation" href="https://www.centos.org/forums/">Forums</a>
            <a class="dropdown-item" role="presentation" href="https://wiki.centos.org/GettingHelp/ListInfo">Mailing Lists</a>
            <a class="dropdown-item" role="presentation" href="https://wiki.centos.org/irc">IRC</a>
            <a class="dropdown-item" role="presentation" href="{{ httpd_autoindex_siteurl }}/community/calendar/">Calendar &amp; IRC Meeting List</a>
            <a class="dropdown-item" role="presentation" href="http://planet.centos.org/">Planet</a>
            <a class="dropdown-item" role="presentation" href="https://wiki.centos.org/ReportBugs">Submit Bug</a>
            <a class="dropdown-item" role="presentation" href="https://www.centos.org/code-of-conduct">Code of Conduct</a>
          </div>
        </li>
        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-book"></i> Documentation</a>
          <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="https://wiki.centos.org/">Wiki</a>
            <a class="dropdown-item" role="presentation" href="https://docs.centos.org/">Manuals</a>
            <a class="dropdown-item" role="presentation" href="{{ httpd_autoindex_siteurl }}/keys">GPG Key Info</a>
          </div>
        </li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="https://wiki.centos.org/Documentation?action=show&amp;redirect=GettingHelp"><i class="fas fa-life-ring"></i> Help</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="{{ httpd_autoindex_siteurl }}/search"><i class="fas fa-search"></i> Search</a></li>
      </ul>
    </div>
  </div>
</nav>
