#!/bin/bash

#
# Purposes : renders and publish website from git 
# Called by: cron
# Configured by: Ansible, don't edit
#

action="$1"
git_branch="$2"
web_servers="{{ httpd_www_servers }}" # servers to push content to
git_upstream="{{ httpd_www_git_upstream }}" # Where to git clone/pull from
git_directory="${HOME}/git/"
logfile="${HOME}/centos_website-${git_branch}.log"

function usage() {
cat << EOF
You need to call the script like this : $0 <action> <branch>
<action> can be one of the following:
 init			: prepares local jekyll container and git initial clone
 build		: verify upstream git and rebuild if different
 refresh	: download from external sources content like .csv files to update website<
<branch> can be master or staging 

EOF
}

f_log() {
   echo "[+] $(date +%Y%m%d-%H:%M) $(basename $0) -> $*" >>$logfile
}

function init(){
  test -d ${git_directory} || mkdir -p ${git_directory}
  pushd ${git_directory} >/dev/null
  test -d centos.org || git clone ${git_upstream} >> $logfile
  pushd centos.org >> $logfile ; git checkout ${git_branch} >> $logfile ; popd >> $logfile
  for i in .jekyll-cache vendor vendor/bundle _site ; do 
    podman unshare mkdir -p ${git_directory}/centos.org/${i}
    podman unshare chown -R 1000:1000 ${git_directory}/centos.org/${i}
  done
  podman unshare chown -R 1000:1000 ${git_directory}/centos.org/Gemfile.lock
  podman images |grep -q jekyll || podman run --volume="${git_directory}/centos.org:/srv/jekyll:z" --volume="${git_directory}/centos.org/vendor/bundle:/usr/local/bundle:z" --rm -it jekyll/jekyll bundle update >>$logfile
popd >/dev/null
  refresh
}

function refresh(){
  pushd ${git_directory}/centos.org/_data >/dev/null
  for file in full-mirrorlist.csv full-altarchlist.csv ; do
    f_log "Refreshing content for file $file ..."
    curl --silent --fail -O https://mirror-status.centos.org/${file}
    if [ "$?" -ne "0" ] ;then
      f_log "[ERROR] Issue downloading file https://mirror-status.centos.org/${file}"
      f_log "Exiting ..."
      zabbix_sender -c /etc/zabbix/zabbix_agentd.conf -k podman.render -o 1 >/dev/null
      exit 1
    fi
  done 
  # CentOS Stream AMI IDs list from Jenkins
  for file in https://jenkins.stream.centos.org/view/c8s%20release/job/stream8-images-ec2/lastSuccessfulBuild/artifact/ami_csv.log https://jenkins.stream.centos.org/view/c9s%20release/job/stream9-images-ec2/lastSuccessfulBuild/artifact/ami_csv.log ; do
    f_log "Refreshing content from $file ..."
    curl --silent --fail ${file} | egrep -v '^===' >> aws-images.csv
    if [ "$?" -ne "0" ] ;then
      f_log "[ERROR] Issue downloading file https://jenkins.stream.centos.org/"
      f_log "Exiting ..."
      zabbix_sender -c /etc/zabbix/zabbix_agentd.conf -k podman.render -o 1 >/dev/null
      exit 1
    fi
  done 
  test -d centos || mkdir -p centos     
  /usr/libexec/centos/rss2json.py -i https://planet.centos.org/rss20.xml -o centos/planet.json
  if [ "$?" -ne "0" ] ;then
    f_log "[ERROR] Issue refreshing rss feed from planet.centos.org"
    f_log "Exiting ..."
    zabbix_sender -c /etc/zabbix/zabbix_agentd.conf -k podman.render -o 1 >/dev/null
    exit 1
  fi 
  popd >/dev/null
  render
}

function render(){
  podman run --volume="${git_directory}/centos.org:/srv/jekyll:z" --volume="${git_directory}/centos.org/vendor/bundle:/usr/local/bundle:z" --rm -it jekyll/jekyll jekyll build 2>&1 > /dev/null 
  if [ "$?" -eq "0" ] ; then
    f_log "Rendering status : $?"
    if [ "${git_branch}" == "staging" ] ; then
      f_log "git branch is [${git_branch}] so copying locally"
      cp -r ${git_directory}/centos.org/_site/* /var/www/centos_website/
    else
      f_log "git branch is [${git_branch}] so pushing live to www nodes"
      if [ -z "${web_servers}" ] ; then
        f_log "Empty web servers list to nowhere to push, skipping"
      else
				for node in ${web_servers}; do
					f_log "Pushing content to $node .."
					rsync -aH --delete-after  ${git_directory}/centos.org/_site/ wwwpush@${node}:/var/www/centos_website/ >/dev/null 2>&1 
					if [ "$?" -ne "0" ] ; then
						f_log "[ERROR] Error pushing to target ${node}."
						f_log "Exiting process"
						zabbix_sender -c /etc/zabbix/zabbix_agentd.conf -k podman.render -o 1 >/dev/null
						exit 1
					fi 
				done
      fi
    fi
  else
    f_log "[ERROR] issue detected when building website"
    zabbix_sender -c /etc/zabbix/zabbix_agentd.conf -k podman.render -o 1 >/dev/null
  fi
}

function build(){
  pushd ${git_directory}/centos.org >/dev/null
  git checkout ${git_branch} >>$logfile
  last_commit=$(git log| head -n 1|awk '{print $2}')
  git pull origin ${git_branch}>/dev/null
  current_commit=$(git log| head -n 1|awk '{print $2}')
  popd >/dev/null

  if [ "${current_commit}" == "${last_commit}" ] ; then
    f_log "Git head/last commit is equal [${current_commit}] for branch [${git_branch}]"
    f_log "Skipping website build and push"
  else
    render
fi
}

if [ "$action" == "init" ] ; then
   f_log "Initializing for branch [${git_branch}] ..."
   init
elif [ "$action" ==  "build" ] ; then
   f_log "Comparing upstream git HEAD and rebuilding if needed"
   build
elif [ "$action" ==  "refresh" ] ; then
  f_log "Refreshing external content and rendering website .."
  refresh
else
  usage
  exit 1
fi

# If we made it here, that means all was ok so updating zabbix status
zabbix_sender -c /etc/zabbix/zabbix_agentd.conf -k podman.render -o 0 >/dev/null
exit 0
