#!/bin/bash

#
# This script will download the mirror list csv file used on website
#

pushd /var/tmp

for file in full-mirrorlist.csv full-altarchlist.csv ; do
  curl --silent --fail -O https://mirror-status.centos.org/${file} 
  if [ "$?" = "0" ] ; then
    /bin/cp /var/tmp/${file} {{ httpd_www_rootdir }}/download/
  else
   logger "unable to download ${file}"
  fi
done
popd

#
# Updated script to get rss feed from planet.centos.org 
#
pushd /var/tmp
curl --silent --fail -O https://planet.centos.org/rss20.xml 
if [ "$?" = "0" ] ; then
  /bin/cp /var/tmp/rss20.xml {{ httpd_www_rootdir }}/assets/planet.rss
else
 logger "unable to download planet feeds"
fi
popd


