<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>404 - Page not found</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ httpd_assets_url }}/assets/img/favicon.png">
    <link rel="stylesheet" href="{{ httpd_assets_url }}/assets/css/centos.bootstrap.min.css">
  </head>
  <body>

{% include "common/header-navbar.html.j2" %}

    <header class="header header__page">
      <h1 class="header__page__title">404</h1>
      <p class="header__page__description">Page not found</p>
    </header>
    <div class="hr">
    <div class="hr__centos-color-0"></div>
    <div class="hr__centos-color-1"></div>
    <div class="hr__centos-color-2"></div>
    <div class="hr__centos-color-3"></div>
    </div>
    <main class="page">
      <article class="page__content">

        <div class="page__content__nav">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ httpd_assets_url }}">Home</a></li>
            <li class="breadcrumb-item">Page not found</li>
          </ol>
        </div>

        <p>The requested page could not be found.</p>

        <p>This happens when the page has been moved, removed, or had its name
        and address changed. It might otherwise be temporarily unavailable for
        technical reasons.</p>

{% include "common/footer.html.j2" %}
