<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="{{ httpd_assets_url }}/"><img src="{{ httpd_assets_url }}/assets/img/logo.png" height="32" alt="The CentOS Project"> <span class="manifestation"></span></a>
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
{% for item in httpd_navbar %}
{% if item.menu | length > 0 %}
        <li class="nav-item dropdown" role="presentation">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="{{ item.link }}">{% if item.icon %}<i class="{{ item.icon }}"></i> {% endif %}{{ item.name }}</a>
        <div class="dropdown-menu" role="menu">
{% for menu in item.menu %}
          <a class="dropdown-item" role="presentation" href="{{ menu.link }}">{{ menu.name }}</a>
{% endfor %}
        </div>
{% else %}
        <li class="nav-item" role="presentation"><a class="nav-link" href="{{ item.link }}">{% if item.icon %}<i class="{{ item.icon }}"></i> {% endif %}{{ item.name }}</a></li>
{% endif %}
{% endfor %}
      </ul>
    </div>
  </div>
</nav>
