{# --- Header template ----------------------------------------- #}
{% include "common/page-header.html.j2" %}

{# --- Body ---------------------------------------------------- #}
<ul class="list-group list-group-flush">
{% for item in httpd_docs_sigs_list %}
<li class="list-group-item"><a href="{{ item.name }}">{{ item.description}} </a> </li>
{% endfor %}
</ul>


{# --- Footer -------------------------------------------------- #}
{% include "common/page-footer.html.j2" %}
 
