{% with %}
{# --- Header template configuration --------------------------- #}
{% set title = "CentOS SIGs" %}
{% set title_lead = "Welcome to the SpecialInterestGroups (SIGs) Documentation website" %}
{% set alerts = [{
  'title': ' ',
  'class': 'alert alert-success',
  'message': 'You can find below the SIGs that have requested a space on this server to build and host documentation : '
  }]
%}
{% set paragraphs = [
  ''
  ]
%}
{# --- Header template ----------------------------------------- #}
{% include "common/header.html.j2" %}
{% endwith %}

{# --- Body ---------------------------------------------------- #}
<ul class="list-group list-group-flush">
{% for item in httpd_docs_sigs_list %}
<li class="list-group-item"><a href="{{ item.name }}">{{ item.description}} </a> </li>
{% endfor %}
</ul>


{# --- Footer -------------------------------------------------- #}
{% include "common/footer.html.j2" %}
 
