#add file types
AddType application/x-tar .tgz
AddType application/x-bittorrent .torrent
AddType application/octet-stream .qcow2
AddType application/octet-stream .qcow2c


NameVirtualHost *:80
# By default allowing redirecting to central node for LetsEncrypt certbot validation
 <Location "/.well-known/acme-challenge/">
     ProxyPass "http://cephas.centos.org/.well-known/acme-challenge/"
 </Location>

# Default Header
Alias /header /var/www/centos/header
Alias /centos-design /var/www/centos-design

# Some customized ErrorDocument files
ErrorDocument 404 /centos-design/404.html

# Prefork tuning
<IfModule mpm_prefork_module>
    ServerLimit               {{ httpd_maxrequestworkers * 1.5 }}
    MaxRequestWorkers         {{ httpd_maxrequestworkers }}
    MaxConnectionsPerChild    {{ httpd_maxrequestworkers * 5 }}
</IfModule>

