#add file types
AddType application/x-tar .tgz
AddType application/x-bittorrent .torrent
AddType application/octet-stream .qcow2
AddType application/octet-stream .qcow2c


NameVirtualHost *:80
{% if httpd_redirect_acmechallenge %}
# By default allowing redirecting to central node for LetsEncrypt certbot validation
 <Location "/.well-known/acme-challenge/">
     ProxyPass "http://{{ httpd_certbot_fqdn }}/.well-known/acme-challenge/"
 </Location>
{% endif %}
# Default Header
Alias /header /var/www/centos/header
Alias /centos-design /var/www/centos-design

# Alias to common resources
Alias "{{ httpd_common_alias }}" "{{ httpd_common_directory }}"
<Directory "{{ httpd_common_directory }}">
  AllowOverride None
  Require all granted
</Directory>

# Some customized ErrorDocument files
ErrorDocument 404 {{ httpd_common_alias }}/404.html

# Prefork tuning
<IfModule mpm_prefork_module>
    ServerLimit               {{ httpd_maxrequestworkers * 1.5 }}
    MaxRequestWorkers         {{ httpd_maxrequestworkers }}
    MaxConnectionsPerChild    {{ httpd_maxrequestworkers * 5 }}
</IfModule>

# Custom snippet if declared as ansible httpd_common_snippet block
{{ httpd_common_snippet }}
