<VirtualHost *:80>
  ServerName {{ httpd_people_hostname }}
  CustomLog logs/{{ httpd_people_hostname }}_access.log combined
  ErrorLog logs/{{ httpd_people_hostname }}_error.log
  DocumentRoot /var/www/people
  # Global for each user directory

  <Directory "/var/www/people">
    Options Indexes FollowSymLinks
    <IfVersion < 2.4>
      Order allow,deny
      Allow from all
    </IfVersion>
    <IfVersion >= 2.4>
      Require all granted
    </IfVersion>
  </Directory>

  RewriteEngine On
  RewriteCond $1 !^.well-known
  RewriteCond %{HTTPS} !=on
  RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

</VirtualHost>

