<VirtualHost *:80>
 ServerAdmin webmaster@centos.org
 ServerName {{ item.fqdn }}
 DocumentRoot {{ item.path }}
 CustomLog logs/{{ item.fqdn }}_access.log combined
 ErrorLog logs/{{ item.fqdn }}_error.log

# Some needed headers
Header always set X-Frame-Options "SAMEORIGIN"
Header always set X-Xss-Protection "1; mode=block"
Header always set X-Content-Type-Options "nosniff"
Header always set Referrer-Policy "same-origin"

RewriteEngine On
{% if item.tls is defined and item.tls %}
RewriteCond $1 !^.well-known
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://{{ item.fqdn }}/$1 [R,L]
{% endif %}

{% if item.rewrite_rules is defined %}
{{ item.rewrite_rules }}
{% endif %}



<Directory "{{ item.path }}">
 AllowOverride Indexes
  HeaderName /centos-design/header-centos.html
  Options Indexes FollowSymLinks 
  <IfVersion < 2.4>
    Order allow,deny
{% if item.acl is defined %}
{% for allowed in item.acl %}
    Allow from {{ allowed }}
{% endfor %}
{% else %}
    Allow from all
{% endif %}
  </IfVersion>
  <IfVersion >= 2.4>
  IndexOptions FancyIndexing NameWidth=* -HTMLTable VersionSort SuppressDescription SuppressHTMLPreamble XHTML Charset=UTF-8
{% if item.acl is defined %}
{% for allowed in item.acl %}
    Require ip {{ allowed }}
{% endfor %}
{% elif item.auth is defined %}
    AuthType Basic
    AuthName "Restricted Content"
    AuthUserFile /etc/httpd/conf.d/.htpasswd-{{ item.name }}
    Require valid-user
{% else %}
    Require all granted
{% endif %}
  </IfVersion>
 </Directory>

</VirtualHost>


