<VirtualHost *:80>
 ServerAdmin webmaster@centos.org
 ServerName {{ item.fqdn }}
 DocumentRoot {{ item.path }}
 CustomLog logs/{{ item.fqdn }}_access.log combined
 ErrorLog logs/{{ item.fqdn }}_error.log


<Directory "{{ item.path }}">
 AllowOverride Indexes
  HeaderName /centos-design/header-centos.html
  Options Indexes FollowSymLinks 
  <IfVersion < 2.4>
    Order allow,deny
{% if item.acl is defined %}
{% for allowed in item.acl %}
    Allow from {{ allowed }}
{% endfor %}
{% else %}
    Allow from all
{% endif %}
  </IfVersion>
  <IfVersion >= 2.4>
    IndexOptions FancyIndexing VersionSort NameWidth=* HTMLTable Charset=UTF-8
{% if item.acl is defined %}
{% for allowed in item.acl %}
    Require ip {{ allowed }}
{% endfor %}
{% else %}
    Require all granted
{% endif %}
  </IfVersion>
 </Directory>

</VirtualHost>


