<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CentOS customization -->
    <link rel="stylesheet" href="/centos-design/css/centos.css">
    <link rel="stylesheet" href="/centos-design/css/centos-listindex.css">

    <!-- Favicon -->
    <link href="/centos-design/images/favicon.ico" rel="icon" type="image/ico" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">

    <title>{{ httpd_html_autoindex_title }}</title>
  </head>

  <body class="d-flex flex-column h-100">

    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="https://www.centos.org/">
      <img src="/centos-design/images/centos-logo-white.png" height="32" alt="CentOS">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://www.centos.org/download">Download</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://www.centos.org/about/">About CentOS</a>
            <a class="dropdown-item" href="https://wiki.centos.org/FAQ">Frequently Asked Questions (FAQs)</a>
            <a class="dropdown-item" href="https://wiki.centos.org/SpecialInterestGroup">Special Interest Groups (SIGs)</a>
            <a class="dropdown-item" href="https://www.centos.org/variants/">CentOS Variants</a>
            <a class="dropdown-item" href="https://www.centos.org/about/governance/">Governance</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Community
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://wiki.centos.org/Contribute">Contribute</a>
            <a class="dropdown-item" href="https://www.centos.org/forums/">Forums</a>
            <a class="dropdown-item" href="https://wiki.centos.org/GettingHelp/ListInfo">Mailing Lists</a>
            <a class="dropdown-item" href="https://wiki.centos.org/irc">IRC</a>
            <a class="dropdown-item" href="https://www.centos.org/community/calendar/">Calendar &amp; IRC Meeting List</a>
            <a class="dropdown-item" href="http://planet.centos.org/">Planet</a>
            <a class="dropdown-item" href="https://bugs.centos.org/">Submit a Bug</a>
            <a class="dropdown-item" href="https://www.centos.org/community/stories/">Stories</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Documentation
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://wiki.centos.org/">Wiki</a>
            <a class="dropdown-item" href="https://docs.centos.org/">Manuals</a>
            <a class="dropdown-item" href="https://www.centos.org/keys">GPG Key Info</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://wiki.centos.org/Documentation?action=show&redirect=GettingHelp">Help</a>
        </li>
      </ul>
    </div>
    </nav>
    </header>

    <main>
    <div class="container mt-4 mb-4">

    {{ httpd_html_autoindex_content }}

