  <h1>People of CentOS</h1>

  <p>This is an area where the CentOS Developers and allowed contributors can
  make test files and other things available that are not yet part of CentOS.
  <br> Some items here will make it into CentOS, CentOS Extras and/or CentOS
  Plus ... while other things may not.</p>

  <div class="alert alert-danger" role="alert">
    <strong>Caution:</strong> Use anything here at your own risk!!!!
  </div>

  <p>The following users currently have areas on people.centos.org: (sorted by First name)</p>

  <ul>
  {% for user in people_users|sort(attribute='full_name') %}
  <li> <a href="/{{ user.login_name }}/">{{ user.full_name }} ({{ user.login_name }})</a></li>
  {% endfor %}
  </ul>
