{# --- Header template ----------------------------------------- #}
{% include "common/page-header.html.j2" %}

{# --- Body ---------------------------------------------------- #}
<ul class="list-group list-group-flush">
{% for user in people_users | sort(attribute='full_name') %}
<li class="list-group-item"><a href="/{{ user.login_name }}/">{{ user.full_name }} ({{ user.login_name }})</a></li>
{% endfor %}
</ul>

{# --- Footer -------------------------------------------------- #}
{% include "common/page-footer.html.j2" %}
