<VirtualHost *:443>
DocumentRoot "{{ httpd_people_dirname }}"

  Header always set Strict-Transport-Security "max-age=31536000"
  Header always set X-Xss-Protection "1; mode=block"
  Header always set X-Content-Type-Options "nosniff"
  Header always set Referrer-Policy "same-origin"
  Header always set X-Frame-Options "SAMEORIGIN"

  RewriteEngine On
  RewriteCond $1 !^.well-known
  RewriteCond      %{REQUEST_URI} ^/([^/]+)
  RewriteCond /home/%1 -d
  RewriteRule ^/([^/]+)(.*) /home/$1/public_html/$2

  <Directory "/var/www/people">
    Options Indexes FollowSymLinks
    <IfVersion < 2.4>
    Order allow,deny
    Allow from all
    </IfVersion>
    <IfVersion >= 2.4>
    Require all granted
    </IfVersion>
  </Directory>

ErrorLog logs/ssl-{{ httpd_people_hostname }}_error.log
TransferLog logs/ssl-{{ httpd_people_hostname }}_access.log
LogLevel warn
SSLEngine on
{{ httpd_tls_ciphers }}
SSLCertificateFile /etc/pki/tls/certs/{{ httpd_people_hostname }}.crt
SSLCertificateKeyFile /etc/pki/tls/private/{{ httpd_people_hostname }}.key
SSLCertificateChainFile /etc/pki/tls/certs/{{ httpd_people_hostname }}-CAChain.crt
<Files ~ "\.(cgi|shtml|phtml|php3?)$">
    SSLOptions +StdEnvVars
</Files>
<Directory "/var/www/cgi-bin">
    SSLOptions +StdEnvVars
</Directory>
SetEnvIf User-Agent ".*MSIE.*" \
         nokeepalive ssl-unclean-shutdown \
         downgrade-1.0 force-response-1.0
CustomLog logs/ssl-seven.centos.org_request.log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
</VirtualHost>                               


