<IfVersion >= 2.4>
Listen 443 https
NameVirtualHost *:443
SSLPassPhraseDialog exec:/usr/libexec/httpd-ssl-pass-dialog
SSLSessionCache         shmcb:/run/httpd/sslcache(512000)
SSLSessionCacheTimeout  300
SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin
SSLCryptoDevice builtin
{% if httpd_robots_block_ai_agents %}
# httpd_robots_block_ai_agents boolean turned on so blocking all identified agents directly
# This is coming from https://github.com/ai-robots-txt/ai.robots.txt/blob/main/.htaccess so update on regular basis
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} ({{ httpd_robots_block_ai_agents_list | map('replace', '-', '\\-') | map('replace', '.', '\\.')| map('replace', ' ', '\\ ') | join('|') }}) [NC]
RewriteRule !^/?robots\.txt$ - [F]
{% endif %}

</IfVersion>

