<VirtualHost *:80>
   ServerName {{ httpd_docs_hostname }}
   DocumentRoot /var/www/{{ httpd_docs_hostname }}/
   CustomLog logs/{{ httpd_docs_hostname}}_access.log combined
   ErrorLog logs/{{ httpd_docs_hostname}}_error.log

   RewriteEngine On
   RewriteCond $1 !^.well-known
   RewriteCond %{HTTPS} !=on
   RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

</VirtualHost>

